body{
    background-color: #1c3238;
    color: aliceblue;
    font-family: monospace;

}

.border{
    padding: 5%;
}

.col-md-6{
    font-size: x-large;
}

.col-md-4{
    text-align: center;
    font-size: large;
    padding: 2%;
}

.navbar{
    text-align: center;
    font-style: italic;
}

.jumbotron{
        background-image: url(jumbotronkep.jpg);
        background-size: cover;
        padding: 5%;
        text-align: center;
        color: black;
}

